*{
    padding: 0px;
    margin: 0px;
}

.header{
    height: 60px;
    background-color: rgb(227, 178, 17);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 0 20px;
    box-sizing: border-box;
}

.main-img{
    height: 50px;
    width: auto;
    display: block;
}
.search-bar{
    width: 60%;
}
.search-bar input{
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 8px 22px;
    background-color: #e1dcda;
    color: rgb(17, 16, 16);
    box-sizing: border-box;
}

.nav-items nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-items nav ul li{
    padding:13px  20px;
    border: none;
}
.nav-option{
    text-decoration: none;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 15px;
  gap: 30px;
}

.res-card{
    width: 240px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: white;
}

.res-img-container {
    width: 100%;
}

.res-logo{
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
    border-radius: 0;
}

.shimmer-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shimmer-card {
  height: 300px;
  width: 250px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.shimmer-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}


@keyframes shimmer {
    0% {
        left: -150px;
    }
    100%{
        left: 100%;
    }
}

.shimmer-img {
  background-color: #e4e4e4;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.shimmer-title {
  background-color: #e4e4e4;
  width: 100%;
  border-radius: 10px;
  height: 35px;
  margin-top: 10px;
}

.shimmer-cuisine {
  background-color: #e4e4e4;
  width: 80%;
  border-radius: 10px;
  height: 25px;
  margin-top: 10px;
}

.shimmer-rating {
  background-color: #e4e4e4;
  width: 60%;
  border-radius: 10px;
  height: 20px;
  margin-top: 10px;
}

.shimmer-delivery {
  background-color: #e4e4e4;
  width: 70%;
  border-radius: 10px;
  height: 20px;
  margin-top: 10px;
}

.res-cart{
    text-decoration: none;
    color: #111827;
}

.error-div{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111827;  
    padding: 20px;
}
.error-box{        
    text-align: center;
    max-width: 420px;
    background-color: #60A5FA;
    color:#F9FAFB;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

header1{
      font-size: 3rem;
         margin: 0 0 8px;
}

.footer {
    height: 250px;
    background-color: black;
    color: aliceblue;
   text-align: center;
   padding: 70px; 
   margin-top: 20px;
   box-shadow: 0 -2px 10px rgba(226, 216, 216, 0.1);
}